<!DOCTYPE html>
<html>
<head>
    <title>My Own Server</title>
    <link rel="icon" type="image/x-icon" href="https://i.postimg.cc/fRb9Nf5G/2906274.png">
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
    <style>
        body::-webkit-scrollbar {
            display: none;
        }
        body{
            background-color: black;
            background-image: url('https://i.postimg.cc/Y98JFkKD/bg.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            color: #64ffda;
            font-family: "Concert One";
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }
        nav{
            border-bottom: solid 1px #64ffda;
            display: flex;
        }
        nav>div:nth-child(1){
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        nav>div:nth-child(2){
            width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        h1{
            color: red;
            font-size: 50px;
            margin: 10px;
        }
        ul{
            display: flex;
            width: 80%;
            justify-content:space-around;
            align-items: center;
        }
        li{
            list-style: none;
        }
        nav>div>ul>li>a{
            color: #64ffda;
            text-decoration: none;
        }
        main{
            width: 70%;
            margin: auto;
        }
        main>div>p:nth-child(1){
            font-size: 40px;
        }
    </style>
</head>
<body>
    <nav>
        <div>
            <h1>My Own Server</h1>
        </div>
        <div>
            <ul>
                <li><a href="https://www.instagram.com/vijayji1137/">Instagram</a></li>
                <li><a href="https://github.com/jitenderji1137">Github</a></li>
                <li><a href="https://www.linkedin.com/in/jitender1137/">Linkedin</a></li>
                <li><a href="https://api.whatsapp.com/send?phone=918307056141">Whatsapp</a></li>
                <li><a href="mailto:trademetrader1137@gmail.com">Email</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <div>
            <p>Congragulation 💥💝👋👋👋</p>
            <p>My Own Server is successfully running</p>
        </div>
        <div>
            <p>Resources</p>
            <div>
                <p>End-points</p>
                <ul>
                    <li><a href="/">Home Page</a></li>
                    <li><a href="/Free-Netflix">Get</a></li>
                    <li><a href="/Free-Netflix/:FileID">Get By FileID</a></li>
                    <li><a href="/Add-Movie">Post to add Movie</a></li>
                    <li><a href=""></a></li>
                </ul>
                <p>To access and modify resources, you can use any HTTP method</p>
                <ul>
                    <li>GET</li>
                    <li>POST</li>
                    <li>PUT</li>
                    <li>PATCH</li>
                    <li>DELETE</li>
                </ul>
            </div>
        </div>
        <div>
            <p>Documentation</p>
            <div>
                <p><a href="">README.md</a></p>
                <pre>
                    wjhed
                    wkhbd
                    d
                    ddd


                    d
                </pre>
            </div>
        </div>
    </main>
</body>
</html>